.home-container {
  padding: 0;
  margin: auto;
  max-width: 100vh;
}

.home-container h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}
